

Python 3.9.23
libgcc-ng=11.2.0 (GCC) 11.2.0
pandas=2.3.2
numpy=1.21.6
matplotlib=3.9.2
ipywidgets= 8.0.7



___________________
Python 3.13.7
GCC ?????
pandas=2.3.3
numpy=2.1.3
matplotlib=3.10.6
ipywidgets=8.1.5
